.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(min(90px, 30%), 1fr));
    width: 100%;
    align-self: center;
  }

.clear-show-group{
  align-self: center;
  display: flex;
  width: 100%
}
.clear-show-group button:first-child{
  margin: 0 15px 0 0;
}

/* .child {
display: flex;
align-items: center;
justify-content: center;
padding: 5px;
border: 3px solid #a07;
} */

@media screen and (min-width: 600px) {
    .container{
      grid-template-columns: repeat(auto-fill, minmax(min(90px, 30%), 1fr));
      width: 50%;
      align-self: center;
    }
    .clear-show-group{
      width: 50%;
    }
    
}

/* .text {
  color: green;
} */
